*node_modules
node_modules

/apps/*/.env

/apps/*/.env.development
/apps/*/.env.test
/apps/*/client/.env
/apps/*/client/.env.development
/apps/*/client/.env.test
/apps/*/client/node_modules

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
